.blog-card {
  background-color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  font-weight: 550;
  height: 100%;
  position: relative; /* Ensure relative positioning */
  box-shadow: 0 0 10px #57abd7, 0 0 10px #57abd7;
}
.blog-card-container {
  display: grid!important;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr))!important;
  grid-gap: 20px!important;
}

.button-container {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

.blog-button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: 2px solid var(--secondary-color);
  font-weight: bold;
}
.blog-role {
  margin-top: -20px;
  margin-bottom: 25px;
  color: #7e7e7e;
  font-weight: 550;
}

.blog-button:hover {
  background-color: black; /* Corrected value */
  color: var(--secondary-color);
  border: 2px solid #3fb4f3; /* Corrected value */
}

@media screen and (max-width: 768px) {
  .blog-card-container{
    margin-bottom: 20px;
  }
  .blog-card {
      width: 90%; /* Adjust card width as needed */
      margin: 0 auto 30px; /* Center the card horizontally */
      padding: 20px;
      height: 102%;
  }

  .blog-title {
      font-size: 18px; /* Adjust font size */
  }

  .blog-text {
      font-size: 16px; /* Adjust font size */
  }

  .blog-role {
      margin-top: -15px;
      font-size: 15px;
      color: #7e7e7e;
      margin-bottom: 20px;
      font-weight: 550;
  }

  .blog-button {
      height: 40px; /* Adjust button height */
      font-size: 16px;
      margin-left: 22px;
      margin-bottom: 13px; /* Adjust font size */
  }
}
