

.about-container {
  max-width: 800px;
  margin: 120px auto;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}

.about-title {
  font-family: "Syne";
  font-size: 50px;
  font-weight: bold;
  color: #57abd7;
  display: inline-block;
}/**Add margin here . Tried to do it reverted back to normal**/

.about-content {
  font-size: 16px;
  line-height: 1.6;
}
