.custom-card {
  font-family: "Syne";
  border-radius: 5%;
  margin-top: 20px;
  padding: 25px 0;
  backdrop-filter: blur(10px); /* Apply blur effect */
  background-color: rgba(255, 255, 255, 0.15); 
  transition: background-color 0.3s, transform 0.3s;
}

.custom-card:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transform: scale(1.03);
}

.custom-card:hover > .card-body > .card-title,
.custom-card:hover > .card-body > .card-text {
  color: var(--accent-color);
}

.custom-card:hover > .card-body > .connect-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: 2px solid var(--accent-color);
}

.custom-card > img {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  border: 1px solid;
  border-color: transparent!important;
  box-shadow: 0 0 20px rgba(87, 171, 215, 0.8); /* Light purple color with alpha for glow effect */
  animation: glow 3s infinite alternate;
}

.custom-card > .card-body > .card-title {
  color: #ffffff;
  width: 230px;
  margin: auto;
  font-size: 20px;
}

.custom-card > .card-body > .card-text {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.custom-card > .card-body > .connect-button {
  height: 47px;
  max-width: 240px;
  width: 48%; /* Adjust the width as needed */
  background: var(--secondary-color);
  color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(87, 171, 215, 0.8); /* Initial glow */
  }
  50% {
    box-shadow: 0 0 15px rgba(87, 171, 215, 0.8); /* Medium glow */
  }
  100% {
    box-shadow: 0 0 25px rgba(87, 171, 215, 0.8); /* Increased glow */
  }
}
@media screen and (max-width: 768px) {
  .custom-card {
    width: calc(90%); 
    padding: 20px 1px; /* Adjust padding */
  }

  .custom-card > img {
    width: 180px; /* Adjust image width */
    height: 180px; /* Adjust image height */
  }

  .custom-card > .card-body > .card-title {
    font-size: 18px; /* Adjust font size */
  }

  .custom-card > .card-body > .card-text {
    font-size: 16px; /* Adjust font size */
  }

  .custom-card > .card-body > .connect-button {
    height: 40px; /* Adjust button height */
    font-size: 16px; /* Adjust font size */
  }
}