.title {
  font-family: "Syne";
  font-weight: 700;
  font-size: 50px;
  line-height: 66.41px;
}

.description {
  font-family: "Syne";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 30px;
}

.join-button {
  color: #ffffff;
  background-color: #57abd7 !important;
  padding: 12px 28px !important;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 15px;
  border-radius: 22px !important;
}

.join-button:hover {
  background-color: transparent !important;
  border: 2px solid #57abd7 !important;
  color: #57abd7 !important;
}

.col-3 .dashed-line-divider {
  position: absolute;
  margin-top: 50px;
  left: 50px;
}

.col-2 .dashed-line-divider {
  position: absolute;
  margin-top: 50px;
  right: 125px;
}

.col-2 .dashed-line-dividerr {
  position: absolute;
  margin-top: 50px;
  left: 400px;
}

.col-2 .dashed-line-dividerrr {
  position: absolute;
  margin-top: 50px;
  right: 475px;
}

.profile-info {
  position: relative;
}

.profile-info .profile-image-blue {
  border: 2px solid #57abd7 ;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.profile-info .profile-image-orange {
  border: 2px solid #57abd7;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.profile-info span {
  padding: 0px 10px;
  color: #ffffff;
  font-family: "Syne";
  border-radius: 2px dashed #57abd7;
  font-size: 18px;
  line-height: 21px;
  vertical-align: Top;
  letter-spacing: 1px;
}

.profile-info .bottom-0 {
  position: absolute;
  left: 50px;
  border: 2px dashed #57abd7 ;
}

.profile-info .top-0 {
  position: absolute;
  border: 2px dashed #57abd7 ;
}

.profile-info img {
  overflow: hidden;
}

@media (max-width: 768px) {
  .landing-section {
    margin-top: 80px!important;
  }

  .title {
    font-family: "Syne";
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
  }

  .description {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 25px;
  }

  .join-button {
    position: absolute;
    left: calc(50% - 130px);
    font-size: 18px;
    margin-top: -20px;
  }

  .dashed-line-divider,
  .dashed-line-dividerr,
  .dashed-line-dividerrr {
    display: none;
  }

  .profile-info span {
    display: none;
  }

  .profile-image-blue {
    display: none;
  }

  .profile-image-orange {
    display: none;
  }
  .srm-logo{
    height: 60px!important;
    margin-top: 25px!important;
    margin-bottom: -20px!important;
  }
}
