.card-body .card-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-body .text-muted {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    max-width: 95%;
    margin: 0 auto;
  }

  .card-body .card-title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .card-body .text-muted {
    margin-left: 40px;
  }
}
