.title {
  font-family: "Syne";
  font-weight: 700;
  font-size: 50px;
  line-height: 66.41px;
}
.landing-section{
  opacity: 0;
  filter: blur(10px);
  transform: translateY(50px);
  animation: fadeUpFromBlur 1.5s ease forwards;
}
.description {
  font-family: "Syne";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 30px;
}

.join-button-container {
  display: flex;
  justify-content: center;
}

.join-button {
  color: #ffffff;
  background-color: #57abd7 !important;
  padding: 12px 28px !important;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 15px;
  border-radius: 22px !important;
  font-family: "Syne";
  font-weight: bolder;
}


.join-button:hover {
  background-color: transparent !important;
  border: 2px solid #57abd7 !important;
  color: #57abd7 !important;
}

.col-3 .dashed-line-divider {
  position: absolute;
  margin-top: 50px;
  left: 50px;
}

.col-2 .dashed-line-divider {
  position: absolute;
  margin-top: 50px;
  right: 125px;
}

.col-2 .dashed-line-dividerr {
  position: absolute;
  margin-top: 50px;
  left: 400px;
}

.col-2 .dashed-line-dividerrr {
  position: absolute;
  margin-top: 50px;
  right: 475px;
}

.profile-info {
  position: relative;
}

.profile-info .profile-image-blue {
  border: 2px solid #57abd7;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(87, 171, 215, 0.8); /* Initial glow */
  }
  50% {
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.8); /* Medium glow */
  }
  100% {
    box-shadow: 0 0 40px rgba(87, 171, 215, 0.8); /* Increased glow */
  }
}
.profile-info span {
  padding: 0px 10px;
  color: #ffffff;
  font-family: "Syne";
  border-radius: 2px dashed #57abd7;
  font-size: 18px;
  line-height: 21px;
  vertical-align: Top;
  letter-spacing: 1px;
}

.profile-info .bottom-0 {
  position: absolute;
  left: 50px;
  border: 2px dashed #57abd7;
}

.profile-info .top-0 {
  position: absolute;
  border: 2px dashed #57abd7;
}

.profile-info img {
  overflow: hidden;
}

@media (max-width: 768px) {
  .landing-section {
    margin: 100px 0px !important;
  }
  .container{
    margin-bottom: 15px;
  }

  .title {
    font-family: "Syne";
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-top: -20px!important;
  }

  .description {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 25px;
  }
  .bttn{
    margin-bottom: 40px;
  }
  .join-button {
    position: absolute;
    left: calc(50% - 130px);
    font-size: 18px;
    margin-top: -20px;
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.8);
  }

  .dashed-line-divider,
  .dashed-line-dividerr,
  .dashed-line-dividerrr {
    display: none;
  }

  .profile-info span {
    display: none;
  }

  .profile-image-blue {
    display: none;
  }

  .profile-image-orange {
    display: none;
  }
}
.alert-custom {
  background-color: #141313; /* Gray background */
  color: #ffffff; /* White text */
  width: 80%; /* Set width to 80% */
  margin: 0 auto; /* Center horizontally */
}
.alert-custom .alert-heading {
  color: #ffffff;
  font-weight: bold; /* White text for the heading */
}
.alert-custom .btn-outline-success {
  color: #ffffff; /* White text */
  background-color: #57abd7; /* Change button background color */
  border-color: #57abd7; /* Change button border color */
}

.alert-custom .btn-outline-success:hover {
  background-color: #57abd7; /* Change button background color on hover */
  border-color: #57abd7; /* Change button border color on hover */
}
.btn{
  box-shadow: 0 0 20px rgba(87, 171, 215, 0.8);
}
@keyframes fadeUpFromBlur {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
