.slider-right > div,
.slider-left > div {
  border: 0px !important;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.imgg{
  height: 100%;
  width: 100%;
  border-radius: 22px;
  box-shadow: 0 0 20px rgba(87, 171, 215, 0.8);
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(87, 171, 215, 0.8); /* Initial glow */
  }
  50% {
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.8); /* Medium glow */
  }
  100% {
    box-shadow: 0 0 40px rgba(87, 171, 215, 0.8); /* Increased glow */
  }
}
@media (max-width: 768px) {
  .slider-single-content > img {
    height: 70%!important;
    width: 100% !important;
  }
}
