@media screen and (max-width: 576px) {
    .mobtitle{
        margin-top: 110px!important;
    }
    .textt{
        font-size: 15px!important;
    }
  }
.textt{
    font-family: "Syne";
    font-weight: 550;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
#progressBarContainer {
    position: fixed;
    z-index: 10;
    background: rgba(255,255,255,0.05);
    width: 100%;
    top: 0;
    left: 0;
}
  
  
#progressBar {
    background: #57abd7;
    transform-origin: top left;
    transform: scale(0,0);
    opacity: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px #57abd7, 0 0 20px #57abd7;
}

#progressBarContainer,
#progressBar {
    height: 10px;
}