.main-footer {
  background-color: #000000 !important;
  color: var(--primary-color) !important;
  border-radius: 15px;
  padding: 35px;
  margin-bottom: 20px;
  /* Add box-shadow for the glowing effect */
  box-shadow: 0 0 20px rgba(87, 171, 215, 0.8); /* Light purple color with alpha for glow effect */
  animation: glow 2s infinite alternate; /* Apply animation for breathing effect */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(87, 171, 215, 0.8); /* Initial glow */
  }
  50% {
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.8); /* Medium glow */
  }
  100% {
    box-shadow: 0 0 40px rgba(87, 171, 215, 0.8); /* Increased glow */
  }
}


.footer-container {
  padding: 0px 0px 100px 0px;
}

.social-links li a {
  font-size: 35px;
  display: inline-block;
  width: 45px;
  color: var(--secondary-color);
}
.bottom-line {
  border: 2px dashed var(--secondary-color);
  color: var(--secondary-color);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
}
.contact-list,
.contact-list a {
  text-align: justify;
  margin: 20px;
  font-size: 17px;
  color: var(--secondary-color);
  text-decoration: none;
}
.contact-list i {
  font-size: 25px;
}

.list-item {
  margin: 0px;
}
.footer-carousel {
  width: 300px;
  margin: auto;
}
.footer-carousel .carousel-inner {
  position: absolute;
  top: -40px;
}
.footer-carousel .carousel-control-next,
.footer-carousel .carousel-control-prev {
  position: absolute;
  top: 100px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 0px;
}

.copyright .active {
  color: var(--secondary-color);
  text-decoration: none;
}
.footer-section-title {
  color: white!important;
}
@media (max-width: 768px) {
  .footer-section-title {
    margin: 40px 0px 10px 0px;
    color: white!important;
  }
  .contact-list i {
    font-size: 20px;
  }
  .contact-list a {
    font-size: 15px !important;
    margin: 15px !important;
  }
  .footer-carousel {
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .list-item {
    margin: 0px;
    word-spacing: -0.2em; /* Adjust as needed */
  }
  .copyright {
    white-space: nowrap!important; 
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 12px;
    margin-top: -85px;
  }
  
  .copyright .active {
    white-space: nowrap!important; /* Prevent text from wrapping */
    color: var(--secondary-color);
    text-decoration: none;
  }  
}
