.custom-container {
  position: relative;
}
.bar {
  border: 2px dashed var(--accent-color);
}
.poster {
  margin: 30px 0px 25px 0px;
  max-width: 300px;
  max-height: 300px;
  transition: transform 0.2s;
}
.poster:hover {
  transform: scale(1.1);
}
.poster > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 2px;
  right: 3px;
  opacity: 0;
  transition: transfrom 0.2s;
}
.overlay:hover {
  transform: scale(1.1);
}

.poster:hover .overlay {
  opacity: 1;
}
.register-button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 14px;
  text-decoration: none;
  border-radius: 10px;
  width: 75px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
.register-button:hover {
  background-color: black;
  color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(153, 102, 255, 0.8); /* Light purple color with alpha for glow effect */
  animation: glow 0.5s infinite alternate;
  font-weight: bold;
}

.text {
  position: absolute;
  width: 400px;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 600;
  bottom: -50px;
  left: calc(50% - 70px);
}

.timestamp > i::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  border: 4px solid var(--accent-color);
  left: calc(50% - 12px);
  bottom: -15px;
}

.past-event-section {
  margin: 50px 0px;
}
.slider-right.slider-right > div,
.slider-left > div {
  border: 10px !important;
  background-color: transparent;
  font-size: 40px;
}


@media (max-width: 768px) {
  .poster {
    max-width: 100px;
    max-height: 100px;
  }
  .register-button {
    width: 40px;
    height: 40px;
    font-size: 8px;
  }
  .overlay {
    right: 0px;
    bottom: 0px;
  }
  .text {
    font-size: 12px;
    text-align: left;
    margin-left: 12px;
}
  .past-event-section {
    margin: 20px 0px !important;
  }

}
@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(153, 102, 255, 0.8); /* Initial glow */
  }
  to {
    box-shadow: 0 0 40px rgba(153, 102, 255, 0.8); /* Increased glow */
  }
}