

.focus-container {
    max-width: 800px;
    margin: 180px auto; 
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: center;
    font-family: "Syne";
    margin-bottom: 230px;
    margin-top: 0px;
  }
  
  .focus-title {
    font-family: "Syne";
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white; 
    display: inline-block; 
    margin-bottom: 40px!important;
  }/** tried adding margin here keeps reverting back to normal**/
  
  .focus-content {
    font-size: 16px;
    line-height: 1.6;
  }
  .focus-card {
    /* Add your existing styles here */
    filter: blur(0); /* Initial no blur */
    transition: filter 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;  /* Smooth transition for blur effect */
  }
  
  .focus-card.blur {
    filter: blur(5px);
    transition: filter 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Adjust the blur intensity as needed */
  }
  .section-title {
    font-family: "Syne";
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .focus-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted width of cards */
    gap: 40px; /* Space between cards */
  }
  
  .focus-card {
    border: 1px solid transparent;
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.8);
    animation: glow 3s infinite alternate;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    height: auto;
  }
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(87, 171, 215, 0.8); /* Initial glow */
    }
    50% {
      box-shadow: 0 0 10px rgba(87, 171, 215, 0.8); /* Medium glow */
    }
    100% {
      box-shadow: 0 0 20px rgba(87, 171, 215, 0.8); /* Increased glow */
    }
  }
  .focus-card:hover {
    transform: scale(1.03);
    transition: background-color 0.8s!important;
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.5); /* Glowing box shadow on hover */
    background-color: #57abd7; /* Change background color on hover */
  }
  .focus-card:hover .image {
    transform: scale(1.1); /* Scale effect on hover */
  }
  .image {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 1s ease; /* Smooth transition for hover effect */
  }
  .focus-card h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: bold;
  }
  .focus-card p {
    font-size: 16px;
    line-height: 1.6;
  }
  .focus-card:hover h3 {
    transform: scale(1.05); 
    color: #f3f3f3;
    text-shadow: "0 0 10px #f3f3f3, 0 0 20px #f3f3f3";
  }
  .image{
    width: 70%;
    height: auto;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 576px) {
    .focus-container{
    margin-top: -120px;
    width: calc(85%); 
    padding: 20px 4px; 
    margin-right: 100px;
    }
    .focus-title{
      margin-top: 150px!important;
      margin-left: 35px;
    }
  }
  @keyframes fadeUpFromBlur {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
  