

.domains-container {
    max-width: 800px;
    margin: 180px auto; 
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .domains-title {
    font-family: "Syne";
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #57abd7; 
    display: inline-block; 
    margin-bottom: 60px;
  }/** tried adding margin here keeps reverting back to normal**/
  
  .domains-content {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .section-title {
    font-family: "Syne";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .domains-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted width of cards */
    gap: 40px; /* Space between cards */
  }
  
  .domain-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Add transition for background color */
  }
  
  .domain-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 0 20px rgba(87, 171, 215, 0.5); /* Glowing box shadow on hover */
    background-color: #57abd7; /* Change background color on hover */
  }
  
  .domain-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .domain-card p {
    font-size: 16px;
    line-height: 1.6;
  }
  